<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyan.springcloud.media.mapper.MediaProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cyan.springcloud.media.model.po.MediaProcess">
        <id column="id" property="id"/>
        <result column="file_id" property="fileId"/>
        <result column="filename" property="filename"/>
        <result column="bucket" property="bucket"/>
        <result column="status" property="status"/>
        <result column="create_date" property="createDate"/>
        <result column="finish_date" property="finishDate"/>
        <result column="url" property="url"/>
        <result column="file_path" property="filePath"/>
        <result column="errormsg" property="errormsg"/>
        <result column="fail_count" property="failCount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_id, filename, bucket, status, create_date, finish_date, url, file_path, errormsg
    </sql>

    <select id="selectListByShardIndex" resultType="com.cyan.springcloud.media.model.po.MediaProcess">
      SELECT * FROM media_process t
      WHERE t.id % #{shardTotal} = #{shardIndex}
      AND (t.status = '1' OR t.status = '3')
      AND t.fail_count &lt; 3
      LIMIT #{count}
    </select>

    <update id="startTask">
        UPDATE media_process m
        SET m.status = '4'
        WHERE (m.status = '1' OR m.status = '3')
        AND m.fail_count &lt; 3
        AND m.id = #{id}
    </update>
</mapper>
